<div class="dialog-container">
    <h1>Ajouter une Offre</h1>
    <form class="form-container"  #offreForm="ngForm" (ngSubmit)="addProduct(offreForm)">
      <div class="form-field">
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput type="text" [(ngModel)]="offre.description" name="description" required>
        </mat-form-field>
      </div>
  
      <div class="form-field">
        <mat-form-field>
          <mat-label>Prix par Heure</mat-label>
          <input matInput type="number" [(ngModel)]="offre.prix_heure" name="prix_heure" required>
        </mat-form-field>
      </div>
  
      <div class="form-field">
        <mat-form-field>
          <mat-label>Domaine d'Expertise</mat-label>
          <mat-select [(ngModel)]="offre.domaineExpertise" name="domaineExpertise" required>
            <mat-option *ngFor="let option of domaineExpertiseOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="form-field">
        <mat-form-field>
          <mat-label>Technologie</mat-label>
          <mat-select [(ngModel)]="offre.technologie" name="technologie" required>
            <mat-option *ngFor="let option of technologieOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="form-field">
        <mat-label></mat-label>
        <input type="file"  (change)="onFileSelected($event)" accept="image/*" name="selectedFile">
      </div>
  
      <!-- Add other form fields based on your Offre interface -->
  
      <div class="dialog-actions">
        <button type="button" class="btn-cancel" (click)="dialogRef.close()">Fermer</button>
        <button mat-raised-button color="primary" type="submit" class="btn-submit" *ngIf="editmode">Modifier</button>
        <button mat-raised-button color="primary" type="submit" class="btn-submit" *ngIf="!editmode">Enregistrer</button>
      </div>
    </form>
  </div>