<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Job board HTML-5 Template</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="site.webmanifest" />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/../assets/img/favicon.ico"
    />

    <!-- CSS here -->
    <link rel="stylesheet" href="/../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/../assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/../assets/css/flaticon.css" />
    <link rel="stylesheet" href="/../assets/css/price_rangs.css" />
    <link rel="stylesheet" href="/../assets/css/slicknav.css" />
    <link rel="stylesheet" href="/../assets/css/animate.min.css" />
    <link rel="stylesheet" href="/../assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="/../assets/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/../assets/css/themify-icons.css" />
    <link rel="stylesheet" href="/../assets/css/slick.css" />
    <link rel="stylesheet" href="/../assets/css/nice-select.css" />
    <link rel="stylesheet" href="/../assets/css/style.css" />
  </head>
  <body>
    <app-navbar></app-navbar>
    <!-- <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="/../assets/img/logo/logo.png" alt="">
            </div>
        </div>
    </div>
</div> -->
    <main>
      <!-- Hero Area Start-->
      <div class="slider-area">
        <div
          class="single-slider section-overly slider-height2 d-flex align-items-center"
          [style.background]="'url(/../assets/img/hero/about.jpg)'"
        >
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="hero-cap text-center">
                  <h2>Get your job</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Area End -->
      <!-- Job List Area Start -->
      <div class="job-listing-area pt-120 pb-120">
        <div class="container">
          <div class="row">
            <!-- Left content -->
            <div class="col-xl-3 col-lg-3 col-md-4">
              <div class="row">
                <div class="col-12">
                  <div class="small-section-tittle2 mb-45">
                    <div class="ion">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="20px"
                        height="12px"
                      >
                        <path
                          fill-rule="evenodd"
                          fill="rgb(27, 207, 107)"
                          d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z"
                        />
                      </svg>
                    </div>
                    <h4>Filter Jobs</h4>
                  </div>
                </div>
              </div>
              <!-- Add Offre and Projet Buttons with Increased Margin -->
              <!-- Add Offre and Projet Buttons with Increased Margin -->
              <!-- Add Offre and Projet Buttons with Icons -->

              <form
                (ngSubmit)="onFormSubmit(filtreForm.value)"
                #filtreForm="ngForm"
              >
                <div class="row">
                  <div class="col-6 mb-4">
                    <label>
                      <input
                        type="radio"
                        name="type"
                        [(ngModel)]="type"
                        value="offre"
                        (change)="setType('offre')"
                      />
                      Offre
                    </label>
                  </div>
                  <div class="col-6 mb-4">
                    <label>
                      <input
                        type="radio"
                        name="type"
                        [(ngModel)]="type"
                        value="projet"
                        (change)="setType('projet')"
                      />
                      Projet
                    </label>
                  </div>
                </div>

                <div class="job-category-listing mb-50">
                  <div class="single-listing">
                    <div class="small-section-tittle2">
                      <h4>Domaine d'expertise</h4>
                    </div>
                    <div class="select-job-items2">
                      <select
                        name="domaineExpertise"
                        class="nice-select"
                        [(ngModel)]="filtre.domaineExpertise"
                      >
                        <option value="">Sélectionnez un domaine</option>
                        <option value="DEVELOPPEMENT_LOGICIEL">
                          Développement logiciel
                        </option>
                        <option value="CONCEPTION_GRAPHIQUE">
                          Conception graphique
                        </option>
                        <option value="REDACTION_ET_EDITION">
                          Rédaction et édition
                        </option>

                        <option value="MARKETING_NUMERIQUE">
                          Marketing numérique
                        </option>
                        <option value="TRADUCTION_ET_LOCALISATION">
                          Traduction et localisation
                        </option>
                        <option value="CONSULTING_ET_GESTION_DE_PROJET">
                          Consulting et gestion de projet
                        </option>
                        <option value="VIDEO_ET_ANIMATION">
                          Vidéo et animation
                        </option>
                        <option value="CONCEPTION_DE_BASES_DE_DONNEES">
                          Conception de bases de données
                        </option>
                        <option value="SERVICES_INFORMATIQUES">
                          Services informatiques
                        </option>
                        <option
                          value="SCIENCES_DES_DONNEES_ET_INTELLIGENCE_ARTIFICIELLE"
                        >
                          Sciences des données et intelligence artificielle
                        </option>
                        <option value="SEO">SEO</option>
                      </select>
                    </div>
                    <br />
                    <br /><br /><br />
                    <div class="small-section-tittle2">
                      <h4>Technologie</h4>
                    </div>
                    <div class="select-job-items2">
                      <select
                        name="technologie"
                        class="nice-select"
                        [(ngModel)]="filtre.technologie"
                      >
                        <option value="">Sélectionnez une technologie</option>
                        <option value="PHOTOSHOP">Photoshop</option>
                        <option value="ORACLE">Oracle</option>
                        <option value="JAVA">Java</option>
                        <!-- Ajoutez manuellement les autres options -->
                        <option value="C_PLUS_PLUS">C++</option>
                        <option value="PYTHON">Python</option>
                        <option value="JAVASCRIPT">JavaScript</option>
                        <option value="HTML_CSS">HTML/CSS</option>
                        <option value="REACT">React</option>
                        <option value="ANGULAR">Angular</option>
                        <option value="SPRING">Spring</option>
                        <option value="NODE_JS">Node.js</option>
                        <option value="ANDROID">Android</option>
                        <option value="IOS">iOS</option>
                        <option value="DJANGO">Django</option>
                        <option value="FLASK">Flask</option>
                        <option value="RUBY">Ruby</option>
                        <option value="PHP">PHP</option>
                        <option value="SEO">SEO</option>
                      </select>
                    </div>
                    <div class="select-Categories pt-80 pb-50">
                      <div class="small-section-tittle2">
                        <h4>Job Type</h4>
                      </div>
                      <label class="container">
                        Entreprise
                        <input
                          type="checkbox"
                          (click)="(onProjetCheckboxChange)"
                        />
                        <span class="checkmark"></span>
                      </label>
                      <label class="container">
                        Freelance
                        <input
                          type="checkbox"
                          (click)="(onFreelanceCheckboxChange)"
                        />
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                  <div class="single-listing">
                    <div class="select-Categories pt-80 pb-50">
                      <div class="small-section-tittle2">
                        <h4>Experience</h4>
                      </div>
                      <select
                        name="experience"
                        class="nice-select"
                        [(ngModel)]="filtre.experience"
                      >
                        <option value="">expérience</option>
                        <option value="ONE_TO_TWO_YEARS">1-2 Years</option>
                        <option value="TWO_TO_THREE_YEARS">2-3 Years</option>
                        <option value="THREE_TO_SIX_YEARS">3-6 Years</option>
                        <option value="SIX_MORE_YEARS">6-more..</option>
                      </select>
                    </div>
                  </div>
                  <div class="single-listing">
                    <div class="select-Categories pt-80 pb-50">
                      <div class="small-section-tittle2">
                        <h4>Nature du travail</h4>
                      </div>
                      <select
                        name="natureTravail"
                        class="nice-select"
                        [(ngModel)]="filtre.natureTravail"
                      >
                        <option value="">nature du travail</option>
                        <option value="FULL_TIME">Temps plein</option>
                        <option value="PART_TIME">Temps partiel</option>
                        <option value="CONTRACT">Contrat</option>
                        <option value="FREELANCE">Freelance</option>
                        <option value="INTERNSHIP">Stage</option>
                        <option value="TEMPORARY">Temporaire</option>
                        <option value="OTHER">Autre</option>
                      </select>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                  <i class="fas fa-search"></i> Rechercher
                </button>
              </form>
            </div>
              <!-- single-job-content -->
              <div class="col-xl-9 col-lg-9 col-md-8">
                <!-- single-job-content -->
                <section class="featured-job-area">
                  <div class="container">
                    <!-- single-job-content -->
                    <div *ngIf="offresFiltres.length > 0">
                      <div
                        class="single-job-items mb-30"
                        *ngFor="let offre of offresFiltres"
                      >
                        <!-- Display offre details here -->
                        <div class="job-items">
                          <div
                            class="company-img"
                            *ngFor="let image of offre.productImagess"
                          >
                            <a href="#"
                              ><img
                                [src]="
                                  'data:' +
                                  image.type +
                                  ';base64,' +
                                  image.picByte
                                "
                                alt="{{ image.name }}"
                                style="
                                  max-width: 100%;
                                  height: auto;
                                  max-height: 90px;
                                "
                            /></a>
                          </div>
                          <div class="job-tittle job-tittle2">
                            <a href="#">
                              <h4>Digital Marketer projet {{ offre.id }}</h4>
                            </a>
                            <ul>
                              <li>Creative Agency</li>
                              <li>
                                <i class="fas fa-map-marker-alt"></i>Athens,
                                Greece
                              </li>
                              <li>$3500 - $4000</li>
                            </ul>
                          </div>
                        </div>
                        <div class="items-link items-link2 f-right">
                          <a (click)="DetailsPage(offre.id, 'offre')"
                            >Details</a
                          >
                          <span>7 hours ago</span>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="projetsFiltres.length > 0">
                      <div
                        class="single-job-items mb-30"
                        *ngFor="let proj of projetsFiltres"
                      >
                        <!-- Display offre details here -->
                        <div class="job-items">
                          <div
                            class="company-img"
                            *ngFor="let image of proj.productImages"
                          >
                            <a href="#"
                              ><img
                                [src]="
                                  'data:' +
                                  image.type +
                                  ';base64,' +
                                  image.picByte
                                "
                                alt="{{ image.name }}"
                                style="
                                  max-width: 100%;
                                  height: auto;
                                  max-height: 90px;
                                "
                            /></a>
                          </div>
                          <div class="job-tittle job-tittle2">
                            <a href="#">
                              <h4>Digital Marketer projet {{ proj.id }}</h4>
                            </a>
                            <ul>
                              <li>Creative Agency</li>
                              <li>
                                <i class="fas fa-map-marker-alt"></i>Athens,
                                Greece
                              </li>
                              <li>$3500 - $4000</li>
                            </ul>
                          </div>
                        </div>
                        <div class="items-link items-link2 f-right">
                          <a (click)="DetailsPage(proj.id, 'projet')"
                            >Details</a
                          >
                          <span>7 hours ago</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <!-- single-job-content -->

              <!-- single-job-content -->

              <!-- single-job-content -->
            

            <!-- Featured_job_end -->
          </div>
        </div>
      </div>

      <!-- Job List Area End -->
      <!--Pagination Start  -->

      <div class="pagination-area pb-115 text-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="single-wrap d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-start">
                    <li
                      class="page-item"
                      *ngFor="let pageNumber of getPageNumbers()"
                      [class.active]="currentPage === pageNumber"
                    >
                      <a
                        class="page-link"
                        *ngIf="isFreelanceChecked && !isProjetChecked"
                        (click)="goToPage(pageNumber)"
                      >
                        {{ pageNumber + 1 }}
                      </a>
                    </li>
                    <li
                      class="page-item"
                      *ngFor="let pageNumber of getPageNumbers()"
                      [class.active]="currentPage === pageNumber"
                    >
                      <a
                        class="page-link"
                        *ngIf="isProjetChecked && !isFreelanceChecked"
                        (click)="goToPage1(pageNumber)"
                      >
                        {{ pageNumber + 1 }}
                      </a>
                    </li>
                    <li
                      class="page-item"
                      *ngFor="let pageNumber of getPageNumbers()"
                      [class.active]="currentPage === pageNumber"
                    >
                      <a
                        class="page-link"
                        *ngIf="isProjetChecked && isFreelanceChecked"
                        (click)="goToPage1(pageNumber)"
                      >
                        {{ pageNumber + 1 }}
                      </a>
                    </li>

                    <li class="page-item">
                      <a class="page-link" href="#"
                        ><span class="ti-angle-right"></span
                      ></a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Pagination End  -->
    </main>
    <footer>
      <!-- Footer Start-->
      <div class="footer-area footer-bg footer-padding">
        <div class="container">
          <div class="row d-flex justify-content-between">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <div class="single-footer-caption mb-50">
                <div class="single-footer-caption mb-30">
                  <div class="footer-tittle">
                    <h4>About Us</h4>
                    <div class="footer-pera">
                      <p>
                        Heaven frucvitful doesn't cover lesser dvsays appear
                        creeping seasons so behold.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
              <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                  <h4>Contact Info</h4>
                  <ul>
                    <li>
                      <p>Address :Your address goes here, your demo address.</p>
                    </li>
                    <li><a href="#">Phone : +8880 44338899</a></li>
                    <li><a href="#">Email : info@colorlib.com</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
              <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                  <h4>Important Link</h4>
                  <ul>
                    <li><a href="#"> View Project</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Testimonial</a></li>
                    <li><a href="#">Proparties</a></li>
                    <li><a href="#">Support</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
              <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                  <h4>Newsletter</h4>
                  <div class="footer-pera footer-pera2">
                    <p>
                      Heaven fruitful doesn't over lesser in days. Appear
                      creeping.
                    </p>
                  </div>
                  <!-- Form -->
                  <div class="footer-form">
                    <div id="mc_embed_signup">
                      <form
                        target="_blank"
                        action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                        method="get"
                        class="subscribe_form relative mail_part"
                      >
                        <input
                          type="email"
                          name="email"
                          id="newsletter-form-email"
                          placeholder="Email Address"
                          class="placeholder hide-on-focus"
                          onfocus="this.placeholder = ''"
                          onblur="this.placeholder = ' Email Address '"
                        />
                        <div class="form-icon">
                          <button
                            type="submit"
                            name="submit"
                            id="newsletter-submit"
                            class="email_icon newsletter-submit button-contactForm"
                          >
                            <img src="/../assets/img/icon/form.png" alt="" />
                          </button>
                        </div>
                        <div class="mt-10 info"></div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="row footer-wejed justify-content-between">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <!-- logo -->
              <div class="footer-logo mb-20">
                <a href="index.html"
                  ><img src="/../assets/img/logo/logo2_footer.png" alt=""
                /></a>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
              <div class="footer-tittle-bottom">
                <span>5000+</span>
                <p>Talented Hunter</p>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
              <div class="footer-tittle-bottom">
                <span>451</span>
                <p>Talented Hunter</p>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
              <!-- Footer Bottom Tittle -->
              <div class="footer-tittle-bottom">
                <span>568</span>
                <p>Talented Hunter</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer-bottom area -->
      <div class="footer-bottom-area footer-bg">
        <div class="container">
          <div class="footer-border">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-xl-10 col-lg-10">
                <div class="footer-copy-right">
                  <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    All rights reserved | This template is made with
                    <i class="fa fa-heart" aria-hidden="true"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  </p>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2">
                <div class="footer-social f-right">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fas fa-globe"></i></a>
                  <a href="#"><i class="fab fa-behance"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer End-->
    </footer>
  </body>
</html>
