
  
  
  
  
  
  
  
  
  
  .page {
    color: rgb(8, 8, 8);
    padding: 0 1rem;
    background: #f1f5f9;
    &__box {
      min-height: 120px;
      background: #1e293b;
      margin: 0 -1rem;
      font-size: 36px;
    }
    &__content {
      min-height: calc(100vh - 178px);
      border-radius: 10px;
      margin-top: -2rem;
      background: white;
      color: black;
      font-size: 2rem;
      &-data {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  
  :host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    width: 260px;
  }
  mat-drawer-container {
    height: 100%;
  }
  
  mat-drawer {
    background: #e7e5e5;
  }
  
  
  

  
  
  
  
  
  
  
  body{
    background:#DCDCDC;
    margin-top:20px;
  }
  .card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
  }
  
  .social-links li a {
    border-radius: 50%;
    color: rgba(121, 121, 121, .8);
    display: inline-block;
    height: 30px;
    line-height: 27px;
    border: 2px solid rgba(121, 121, 121, .5);
    text-align: center;
    width: 30px
  }
  
  .social-links li a:hover {
    color: #797979;
    border: 2px solid #797979
  }
  .thumb-lg {
    height: 88px;
    width: 88px;
  }
  .img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
  }
  .text-pink {
    color: #ff679b!important;
  }
  .btn-rounded {
    border-radius: 2em;
  }
  .text-muted {
    color: #98a6ad!important;
  }
  h4 {
    line-height: 22px;
    font-size: 18px;
  }
  
  
  
  
  
  
  
  
  
  
  ///////////////////////////////////////////////////////////////////
  button {
   
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
   }
   
   button:hover {
    background: #ff3636;
   }
   
  
   .buttonn {
   
    background: rgb(20, 2, 101);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #0e078b;
   }
   
   .buttonn:hover {
    background: #1b0782;
   }
   
  
   .btnn-rounded {
    border-radius: 2em;
  }
  
   
  
  
  
  
  
  .big-text {
    font-size: 20px;
    font-weight: bold;
  }
  
  :focus {
      outline: 0;
      border-color: #2260ff;
      box-shadow: 0 0 0 4px #b5c9fc;
    }
    
    .mydict div {
      display: flex;
      flex-wrap: wrap;
      margin-top: 0.5rem;
      justify-content: center;
    }
    
    .mydict input[type="radio"] {
      clip: rect(0 0 0 0);
      clip-path: inset(100%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
    
    .mydict input[type="radio"]:checked + span {
      box-shadow: 0 0 0 0.0625em #0043ed;
      background-color: #dee7ff;
      z-index: 1;
      color: #0043ed;
    }
    
    label span {
      display: block;
      cursor: pointer;
      background-color: #fff;
      padding: 0.375em .75em;
      position: relative;
      margin-left: .0625em;
      box-shadow: 0 0 0 0.0625em #b5bfd9;
      letter-spacing: .05em;
      color: #3e4963;
      text-align: center;
      transition: background-color .5s ease;
    }
    
    label:first-child span {
      border-radius: .375em 0 0 .375em;
    }
    
    label:last-child span {
      border-radius: 0 .375em .375em 0;
    }