.page {
    color: rgb(8, 8, 8);
    padding: 0 1rem;
    background: #f1f5f9;
    &__box {
      min-height: 120px;
      background: #1e293b;
      margin: 0 -1rem;
      font-size: 36px;
    }
    &__content {
      min-height: calc(100vh - 178px);
      border-radius: 10px;
      margin-top: -2rem;
      background: white;
      color: black;
      font-size: 2rem;
      &-data {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  
  :host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    width: 260px;
  }
  mat-drawer-container {
    height: 100%;
  }
  
  mat-drawer {
    background: #e7e5e5;
  }
  
  


  .col-4 {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px; /* Adjusted padding */
    margin: 10px 5px; /* Adjusted margin */
}



  body {
    font-family: 'Arial', sans-serif;
    background-color: #699fd5;
    color: #db3967;
}

.container-fluid {
    margin-top: 20px;
}

/* Search Bar */
.form-control { 
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: none;
    color: #d93a47;
}

.col-4 {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px 5px;
}

h3 {
    color: #4c1cc4; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
    margin-bottom: 10px; 
    display: flex; 
    align-items: center;
}

h3 i {
    margin-right: 15px; 
}

/* Task Cards */
.card-bg {
    border: none;
    margin-bottom: 15px;
}

.card-header {
    background-color: #6c757d;
    color: #fff;
    border-radius: 8px 8px 0 0;
    padding: 10px 15px;
}

.ticket-bg {
    background-color: #f8f9fa;
    border-radius: 0 0 8px 8px;
    padding: 15px;
}

.task {
    background-color: #ffffff;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.task:hover {
    background-color: #e9ecef;
}

.fw-bold {
    font-weight: bold;
}

/* Drag and Drop Styles */
.drag-over {
    background-color: #ced4da;
    border: 2px dashed #495057;
}

/* Create Hover Effect */
.create-Hover:hover {
    background-color: #e9ecef;
    color: #363535;
}
.date-style {
    font-size: 12px; /* Adjust the font size as needed */
    /* Add any other styling you want for the date */
    color: #888; /* Example color, change as needed */
  }



  .mynav  {
    background-color: #0747a6!important;
    color: #fff!important;
}
.content-hover:hover {
    background-color: #033681!important;
}
.nav-link, .navbar-brand {
    color: #fff!important;
}




