<mat-nav-list>
  <div class="col-lg-3 col-md-2">
    <!-- Logo -->
    <div class="logo">
        <a href="index.html"><img src="/../assets/img/logo/logo.png" alt=""></a>
    </div>  
</div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active"  routerLink="/entreprise/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/entreprise/projet">
      <mat-icon>dashboard</mat-icon> Projet
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/entreprise/demande-projet">
      <mat-icon>dashboard</mat-icon> Demande Projet
    </a>
  </mat-nav-list>
  