<mat-nav-list>
  <div class="col-lg-3 col-md-2">
    <!-- Logo -->
    <div class="logo">
        <a href="index.html"><img src="/../assets/img/logo/logo.png" alt=""></a>
    </div>  
</div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2" style="color: white;" >APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/freelancer/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/freelancer/offre">
      <mat-icon>work</mat-icon> Offre
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/freelancer/demande-offre">
      <mat-icon>send</mat-icon>Demande Offre
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/freelancer/chat">
      <mat-icon>chat</mat-icon>Chat
    </a>
  </mat-nav-list>
  